html{
		scroll-behavior: smooth;
}

button{
	outline: none;
	cursor: pointer;
}
/*
***desktop*** 
 */
body {
	font-family: Roboto;
	font-size: 84%;
	background-color: #f4f4f4;
	margin: 0px;
	padding: 0px;
}

#header{
	height: 13em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#header_margin {
	width: 78%;
	margin: 0em auto;
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
}

#header-2{
	display: flex;
	width: 50%;
	justify-content: space-between;
}

#form-search {
	width: 55%;
}

#form-search #form1 {
	border: 1px solid #adb2c3;
    border-radius: 2em;
    width: 86%;
    height: 90%;
    background-color: #ecedf1;
    display: flex;
    justify-content: space-around;
    box-shadow: 0em 0em 0.4em 0.3em #a9caf3;
}

#form-search #form1:hover {
	animation-name: search;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}

@keyframes search{
	100%{
		transform: scale(1.05);
		box-shadow: 0em 0em 0.6em 0.5em #71a7e8;
	}
}

#form-search #form1 input { 
	border: none;
    background-color: #ecedf1;
    outline: none;
    width: 55%;
    border-radius: 50%;
}

#form-search #form1 button{
	border: none;
	background-color: #ecedf1;
	margin-right: -6%;
	border-radius: 50%;
}

#btn_dangban{
	width: 33%;
}

#btn_dangban button{
	border: none;
	background-color: #ea2e49;
	color: #ffffff;
	height: 89%;
	width: 82%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 2em;
}

#btn_dangban span{
	font-weight: 600;
}

#btn_dangban button:hover {
	animation-fill-mode: forwards;
	animation-name: dangban;
	animation-duration: 0.2s; 
	animation-timing-function: linear;
}

@keyframes dangban{
	100%{
		transform: scale(1.1);
		background-color: #76a7d1;
	}
}

#btn_dangnhap{
	width: 21%;	
}

#btn_dangnhap button{
	border: none;
	background-color: unset;
	height: 85%;
	font-weight: 600;
	color: #9e9e9e;
}

#btn_dangnhap button:hover {
	animation-name: dangnhap;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

@keyframes dangnhap{
	100%{
		transform: scale(1.1);
		color: #76a7d1;	
	}
}

#btn_icon{
	width: 78%;
	margin: 0em auto;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

#btn_icon img {
	margin-bottom: 0.2em; 
}

.h-text{
	font-weight: 500;
	font-family: Roboto;
}

#btn_icon img:hover {
	animation-name: scale;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
}

@keyframes scale{
	100%{
		transform: scale(1.1);
	}
}

/* baner */
#baner1 #img1{
	height: auto;
	width: 100%;
}
/* main */
#main-container{
	height: 66em;
	width: 100%;
}

#main-container #main{
	width: 78%;
	margin: 0px auto;
	height: 66em;
}

#main-container #main #moinhat p{
	font-size: 1.5em;
	font-weight: bold;
	font-family: Roboto;
}

#main-container #main #list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#main-container #main #list .sanpham{
	width: 17%;
    margin-bottom: 2.5em;
    margin-right: 1em;
    cursor: pointer;
    background-color: #e1e1e1;
    border-radius: 0.5em;
}

.sanpham .a-sp{
	text-decoration: none;
}

.sanpham:hover {
	animation-name: shadowsp;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

@keyframes shadowsp{
	100%{
		box-shadow: 0px 5px 5px 5px #7eb3f3;
		transform: scale(1.05);
	}
}

.anh-sp img{
	width: 100%;
	height: auto;
}

#main-container #main #list .sanpham .tensp{
	color: #333642;
    font-size: 1.1em;
    text-align: center;
    margin-top: 0.1em;
}

.desc-sp {
	width: 87%;
    display: flex;
    justify-content: space-between;
    margin: 0em auto;
    align-items: flex-end;
    margin-top: 8%;
    margin-bottom: -3%;
}

.desc-sp .giasp {
	font-weight: bold;
	font-size: 1.3em;
	color: #333642;
}

.desc-sp .tim{
	color: #8e8e8e;
}

.btn-thich{
	position: relative;
    bottom: 90%;
    left: 57%;
    background-color: #ea2e49;
    border: none;
    width: 38%;
    height: 12%;
    border-radius: 0.3em;
    cursor: pointer;
}

.btn-thich .btn-thich-content{
	width: 90%;
	margin: 0em auto;
	display: flex;
	justify-content: space-between;
}

.btn-thich .btn-thich-content .btn-thich-text{
	font-size: 1em;
	color: #fffefe;
}

.btn-thich:hover {
	animation-name: btnthich;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

@keyframes btnthich{
	30%{
		bottom: 93%;
		transform: scale(1.2);
		border-radius: 1em;
	}
}

#main-container #main #xemtatca{
	text-align: right;
}

#main-container #main #xemtatca a{
	text-decoration: none;
    font-weight: bold;
    font-family: Roboto;
    margin-right: 1%;
    font-size: 1.2em;
    color: #5697e6;
}

#xemtatca-id:hover {
	animation-name: xemtatca;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

@keyframes xemtatca{
	100%{
		font-size: 1.3em;
	}
}

#footer-container{
	width: 100%;
	height: 100%;
}

#footer-container #footer{
	width: 78%;
	height: 100%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}

#footer-container #footer #vemuabanhay, #hotro, #ketnoi{
	line-height: 2em;
	width: 26%;
}

#footer-container #footer #vemuabanhay, #hotro, #ketnoi p{
	font-family: Arial;
	font-size: 1.1em;
	font-weight: 520;
}

#fb-img:hover {
	animation-name: facebook;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}

@keyframes facebook{
	100%{
		transform: scale(1.1);
	}
}

#footer-container #footer #hotro a{
	text-decoration: none;
	color: #333745;
}

#footer-container #footer #hotro #csbvnd{
	text-decoration: underline;
}

.icon-div{
	display: flex;
	align-items: center;
	position: relative;
	right: 1.7em;
	bottom: 1em;
}

.icon-div img{
	width: 7%;
	height: auto;
	max-width: 15px;
}

.icon-div p{
	margin-left: 0.4em;
}

#icon-div-2{
	position: relative;
	bottom: 2.2em;
}

.f-a:hover {
	animation-fill-mode: forwards;
	animation-name: fa;
	animation-duration: 0.2s;
}

@keyframes fa{
	100%{
		color: #0d6db4;
	}
}

#f-div{
	text-align: center;
    position: relative;
    bottom: 20%;
}

h3{
	font-weight: bold;
	font-family: Roboto;
	color: #333745;
}

#footer2{
	width: 100%;
	height: 17.8em;
}

#footer2 #footer2text {
	text-align: center;
    font-weight: bold;
    font-family: Roboto;
    margin-top: -3%;
    margin-bottom: 1%;
}

#footer2 #footer2text #len_dau_trang {
	text-decoration: none;
	color: #333745;
}

#btn-ldt:hover {
	animation-name: btnldt;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes btnldt{
	100%{
		transform: scale(1.3);
	}
}

#footer2 #footerbaner {
	width: 100%;
    height: 3.5em;
    background-color: #ea2e49;
    display: flex;
}

#footer2 #footerbaner #footerimage {
	margin-left: auto;
    margin-right: auto;
    margin-top: 0.4%;
}

.class-1{
		display: flex;
		align-items: center;
	}

/* end of desktop */

@media only screen and (min-width: 1024px) and (max-width: 1365px){
	body {
	font-size: 60%;
}
	
	#logo img{
		width: 70%;
		height: auto;
	}

	#form-search {
    height: 83%;
	}

	#form-search #form1 img{
		width: 70%;
		height: auto;
	}

	#form-search #form1 input {
		border-radius: 0px;
	}

	#btn_dangban button {
		height: 82%;
	}

	#btn_dangban button img{
		width: 20%;
		height: auto;
	}

	#btn_dangban button span{
		font-size: 76%;
	}

	#btn-login{
		font-size: 110%;
	}

	.btn-icon img{
		width: 4em;
		height: auto;
	}

	.btn-thich {
    width: 45%;
}
	#footer2 #footerbaner {
    width: 100%;
    height: 5em;
    background-color: #ea2e49;
    display: flex;
	}

	.tim img{
		width: 40%;
		height: auto;
	}
 }

@media only screen and (max-width: 1023px){
	#btn_icon{
		display: none;
	}

	#btn_icon .btn-icon a{
		display: none;
	}
}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
	body{
		font-size: 50%;
	}

	#form-search #form1{
		height: 70%;
	}

	#form-search #form1 img{
		width: 70%;
		height: auto;
	}

	#btn_dangban button{
		height: 70%;
		width: 100%;
	}

	#btn_dangban span{
		font-size: 70%;
	}

	#btn_dangban img{
		width: 20%;
		height: auto;
	}

	#btn_dangnhap button{
		font-size: 130%;
    	width: 163%;
	}

	.btn-thich {
    width: 46%;
    font-size: 110%;
	}

	.desc-sp .tim img{
    width: 38%;
    height: auto;
	}

	#main-container {
    height: 55em;
    width: 100%;
	}

	#footerimage{
		text-align: center;
	}

	#footerimage img {
		width: 50%;
	}

	#ketnoi #img-app{
		width: 100%;
		height: auto;
	}
}

/*Moble-L*/
@media only screen and (max-width: 767px){

	#img-app{
		width: 100%;
		height: auto;
	}

	#footerbaner{
		text-align: center;
		align-items: center;
	}

	#footerimage img{
		width: 70%;
		height: auto;
	}

	#header {
    height: 10em;
	}

	#header_margin {
    	width: 90%;
	}	

	#logo img{
		width: 80%;
		height: auto;
	}

	#header-2 {
    width: 60%;
	}

	#form-search #form1{
		height: 58%;
	}

	#form-search #form1 input{
		width: 63%;
	}

	#form1 button{
		width: 30%;
	}

	#form1 button img{
		width: 70%;
		height: auto;
		max-width: 15px;
	}

	#btn_dangban button{
		width: 90%;
	}

	#btn_dangban button img{
		width: 32%;
		height: auto;
		max-width: 20px;
	}

	#btn_dangban button span{
		width: 70%;
		font-size: 62%;
		font-weight: 500;
	}

	#btn_dangnhap button{
		font-size: 1.2em;
	}

	#main-container {
    	height: 100%;
    	margin-bottom: 4em;
	}

	#main-container #main {
	    width: 90%;
	    height: 100%;
	}

	#main-container #main {
		height: 100%;
	}

	#main-container #main #list .sanpham {
    	width: 45%;
	}

	#main-container #main #list .sanpham .tensp{
		font-size: 1.7em;
		margin-left: 0.8em;
		margin-right: 0.8em;
	}

	.desc-sp .giasp{
		font-size: 2em;
	}

	.desc-sp .tim{
		font-size: 1.5em;
	}

	.desc-sp .tim img{
		width: 41%;
		height: auto;
	}

	#footer-container #footer{
		flex-direction: column;
	}

	#footer-container #footer #vemuabanhay, #hotro, #ketnoi{
		width: 100%;
	}

	h3{
		text-align: center;
	}

	#main-container #main #xemtatca{
		font-size: 1.2em;
	}

	#hotro{
		text-align: center;
	}

	#ketnoi{
		text-align: center;
	}

	#ketnoi #fb-img{
		width: 10%;
		height: auto;
	}

	#ketnoi #img-app{
		width: 50%;
		height: auto;
	}

	#f-div{
		text-align: right;
		width: 95%;
	}

	#f-div img{
		width: 5%;
		height: auto;
	}

	#footer2text{
		display: none;
	}

	#footer p{
		font-size: 1.5em;
	}

	#footer h3{
		font-size: 1.6em;
	}

	.icon-div{
		text-align: center;
	}

	.class-1{
		display: flex;
		margin: 0px auto;
		align-items: center;
	}
}

@media only screen and (min-width: 425px) and (max-width: 767px){
	body{
		font-size: 50%;
	}
}

@media only screen and (min-width: 375px) and (max-width: 424px){
	body{
		font-size: 45%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 374px){
	body{
		font-size: 37%;
	}

	#form1 button img{
		width: 111%;
	}

	#mayanhpng{
		display: none;
	}

	.btn-thich .btn-thich-content{
		width: 100%;
		align-items: center;
	}

	.btn-thich .btn-thich-content .btn-thich-text{
		font-size: 80%;
	}


}